body{
    background:linear-gradient(to right,rgb(248, 248, 28),#046d04);
    font-weight: 500;
    margin:0px;
    padding:0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

.heading-2{
    font-weight: bold;
    border-bottom:5px solid black;
    width: 45%;
    margin: 10px auto;

	
}
.price p{
	font-size:30px;
	font-weight:bold;
	text-align:center;
}
h4{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin:10px 0;
}
i{
	padding:5px;
}
.logo{
    margin-top: 0px;
}
.icons{
	position:relative;
	left:25%;
	margin-right:3rem;
}

.rooms_check{
    width:100%;
    height:65vh;
}

.showcase{
    background: url('../images/seku7.jpg');
    background-position: center;
    background-size: cover;
    height:80vh;
    width:auto;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    padding: 20% 0;
}

.button-style{
    position:relative;
    background-color: #4CAF50;
    padding: 14px 20px;
    margin:10px 0;
    border: none;
    cursor: pointer;
    width: 20vw;
    text-transform: uppercase;
    border-radius: 25px;
    left:28%;
    right: 28%;
}

.button-style:hover{
    background-color: green;
    transform:scale(1.1);
}

.button-style a{
    color: #fff;
    text-decoration: none;
}

.button-style a:hover{
    color: #fff;
    opacity: 0.8;
}
.container{
    background-color: white;
}

.wrap{
    width: auto;
    padding-left:40px;
    margin-top: 40px;
}


.img-box{
    display: grid;
}

.img-box  p{
    margin-top: 5px;
    text-align: center;
}

.box-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

 .navbar ul{
    float:left;
    list-style: none;
    background-color: #28a745;
}

li{
display: inline-block;
width: 150px;
}

.navbar ul li a
{
text-decoration:none;
color:#000000;
display:block;
}

.navbar a:hover{
    opacity: 0.8;
    color: #fff;
}

.introduction{
    text-align: center;
}

@keyframes slider{
    0%{
        left: 0%;
    }
    20%{
        left: 0%;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -400%;
    }
    100%{
        left: -400%; 
    }
}

.img-box .slider{
    overflow: hidden;
}

.img-box .slider figure{
    position:relative;
    width: 450px;
    margin: 0;
    left: 0;
    text-align: center;
    animation: 20s slider infinite;
}

.slider figure img{
    width: 100%;
}

/*FOOTER*/
footer{
    
    border:2px;
    padding:20px;
    background:#046d04;
    color: white;
    
}
footer h2{
    text-align: center;
    font-size:18px;
}

.btn-footer{
    margin-left:2px;
    padding: 3px 5px;
}
.content{
    margin-top: 2rem;
    margin-left:6rem;
}
@media screen and (max-width:700px){
    .content{
        display: grid;
        grid-template-columns:1fr;
        margin:auto;
        padding-right:10rem;
        margin-left:5rem; 
    }
    footer h2{
        padding-top:1rem;
    }
    .btn{
        position:absolute;
        top:58px;
        

    }
    .heading-2  h2{
        font-size:25px;
        text-align:left;
        position: relative;
        padding-right:10rem;
        padding-bottom:2rem;
        color:green;
        margin-left:15px;
       
    }
    .head{
        text-align:center;
        position:absolute;
        right:1rem;


    }
    .button-style{
        font-size:12px;
        text-align:center;
        padding:5px 15px
    }


}
@media screen and (max-width:540px){
    .content{
        display: grid;
        grid-template-columns:1fr;
        margin:auto;
        padding-right:10rem;
        margin-left:5rem; 
    }
    footer h2{
        padding-top:1rem;
    }
    .btn{
        position:absolute;
        top:58px;
        

    }
    .heading-2  h2{
        font-size:25px;
        text-align:left;
        position: relative;
        padding-right:10rem;
        padding-bottom:2rem;
        color:green;
       
       
    }
    .head{
        text-align:center;
        position:absolute;
        right:1rem;


    }
    .button-style{
        font-size:12px;
        text-align:center;
        padding:5px 15px
    }


}

@media(max-width:320px){
        .btn{
            position:absolute;
            top:100%;
            right:55%;
        }
        footer h2{
            padding-top:3rem;
            font-size:18px;
           
        }
        .content{
           position:relative;
           padding-left:1.5rem;


        }
     .heading-2  h2{
        font-size:20px;
        text-align:left;
        position: relative;
        padding-right:5rem;
        padding-bottom:1rem;
        color:green;
       
    }
    .head{
        text-align:center;
        position:absolute;
        right:-20px;

    }
    .button-style{
        font-size:12px;
        text-align:center;
        padding:5px 15px
    }
    }
.middle{
    color:green;
    font-weight:bolder;
    padding-right:5px;
    font-style:italic;
}
